@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

* {
  margin: 0;
  text-align: center;
  font-family: "Patrick Hand", cursive;
}
#root {
  background-color: #cff8f8;
  height: 100vh;
}

.navbar {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.bg-myBg {
  background: linear-gradient(#e264e6, #9198e5);
}
.navbar-brand {
  margin-left: 40px;
  font-size: 1.5rem !important;
}

.Navi {
  border-radius: 30px;
}
.Toggle {
  margin-right: 20px;
}

.Links {
  font-size: x-large;
}
.nav-link {
  color: rgb(229, 186, 219) !important;
  transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out,
    border-color 0.5 ease-in-out !important;
}

.nav-link:hover {
  color: rgb(148, 14, 141) !important;
}
.inputForm {
  text-align: center;

  vertical-align: middle;
}
label {
  display: block;
}
input[type="text"] {
  margin: auto;
  border-radius: 5px;
}

input[type="text"]:focus {
  background-color: rgb(246, 188, 241);
}
.todos {
  margin-top: 30px;
}
.todo {
  display: block;
  margin-top: 10px;
  background-color: #9198e5;
  width: 350px;
  display: table;
  margin: 0 auto;
  margin-top: 15px;
  padding: 5px;
  text-align: left;
  border-radius: 10px;
  cursor: move;
}

.todo:hover {
  transform: scale(0.5);
  animation: pulse2 3s infinite;
}

.inputfield {
  text-align: center;
  margin-left: 30px;
}
.draggable {
  cursor: move;
}

.deletebtn {
  text-align: right;
}

.addbutton {
  display: inline-block;
  padding: 10px;
  margin-left: 20px;
  margin-top: 15px;
  background-color: rgb(118, 245, 224);
  border-radius: 10px;
  width: 300px;
}

.addbutton:hover {
  transform: scale(1);
  animation: pulse 2s infinite;
}
.modalBG {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.5s;
  overflow: auto;
  transition: all 0.3s linear;
}
.theModal {
  width: 400px;
  height: 400px;
  border-radius: 20px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.closeModal {
  text-align: right;
}

.closeModal button {
  outline: 2px deeppink;
  border-radius: 14px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 600px !important;
  }

  .nav-link {
    padding-left: 50px !important;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(222, 63, 236, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px #cff8f8;
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(126, 28, 218, 0.678);
  }
}

@keyframes pulse2 {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(243, 165, 250, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 8px #cff8f8;
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(221, 206, 235, 0.678);
  }
}
